body {
  background-color: green;
  font-family: Verdana, Arial, sans-serif;
}

h1, h2 {
  font-family: Georgia, "Times New Roman", serif;
}

article {
  float: left;
  width: 500px;
  margin: 10px;
}

footer {
  clear: both;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: red;
}